<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Cadastro de Produtos</h1>
    <form method="POST" action="{{url_for('main.produto')}}" >
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
        </div>
        <br>
        <div>
            <label for ="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" required>
        </div>
        <br>
        <div>
            <label for ="alt">Alt:</label>
            <input type="text" id="alt" name="alt" required>
        </div>
        <br>
        <div>
            <label for="url_imagem">Link da Imagem:</label>
            <input type="text" id="url_imagem" name="url_imagem" placeholder="Cole o link da imagem do Google Drive" required>
            <a href="https://drive.google.com/drive/folders/1SjgNDcD9mSlJ-WUTHesMPLtPbsWkJWjp" target="_blank">
                <button type="button">Pesquisar no Google Drive</button>
            </a>
        </div><br>
        <button type="submit">Cadastrar</button>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
   
    {% else %}
        <p>Nenhuma mensagem para exibir.</p>
      
    {% endif %}
    {% endwith %}


    <a href="{{ url_for('main.index') }}">
        <button>Voltar</button>
    </a>
</body>
</html>